#login,
#register
{
	/* padding-top: var(--top-bar-height); */
	flex-direction: column;
	justify-content: flex-start;
	--column-width: 200px;
}

#login header,
#register header 
{
	justify-content: center;
	position: relative;
	margin-bottom: 25px;
}

#login .subtitle,
#register .subtitle
{
	font-size: 22px;
	margin-bottom: 25px;
}

#login label,
#register label
{
	font-size: 18px;
	color: grey;
}

#login input,
#register input
{
	border: 1px solid grey;
	border-radius: 5px;
	padding: 5px;
	margin: 1px;
	width: var(--column-width);
}

#login input:focus,
#login input:hover,
#register input:focus,
#register input:hover
{
	border-width: 2px;
	border-color: white;
	margin: 0px;
}

.login-input-and-label-container,
.register-input-and-label-container
{
	display: none;
	flex-direction: column;
}

#register-username-field {
	display: flex;
}

.login-input-label-container,
.register-input-label-container
{
	justify-content: flex-start;
	width: var(--column-width);
}

.login-input-container,
.register-input-container
{
	margin-bottom: 20px;
	margin-top: 5px;
}

.login-btn,
.register-btn
{
	font-size: 18px;
	width: var(--column-width);
	padding: 5px;
	border-radius: 5px;
	background: linear-gradient(
		-45deg, 
		rgba(255, 0, 0, 1) 0%,
		rgba(255, 154, 0, 1) 5%,
		rgba(208, 222, 33, 1) 10%,
		rgba(79, 220, 74, 1) 15%,
		rgba(63, 218, 216, 1) 20%,
		rgba(47, 201, 226, 1) 25%,
		rgba(28, 127, 238, 1) 30%,
		rgba(95, 21, 242, 1) 35%,
		rgba(186, 12, 248, 1) 40%,
		rgba(251, 7, 217, 1) 45%,
		rgba(255, 0, 0, 1) 50%,
		rgba(255, 154, 0, 1) 55%,
		rgba(208, 222, 33, 1) 60%,
		rgba(79, 220, 74, 1) 65%,
		rgba(63, 218, 216, 1) 70%,
		rgba(47, 201, 226, 1) 75%,
		rgba(28, 127, 238, 1) 80%,
		rgba(95, 21, 242, 1) 85%,
		rgba(186, 12, 248, 1) 90%,
		rgba(251, 7, 217, 1) 95%,
		rgba(255, 0, 0, 1) 100%
	);
	color: var(--background);
	background-size: 1000% 1000%;
	animation: 30s linear infinite gradient;
	margin-top: 15px;
	display: none;
}

.title {
	font-size: 32px;
	user-select: none;
	background: linear-gradient(
		-45deg, 
		rgba(255, 0, 0, 1) 0%,
		rgba(255, 154, 0, 1) 5%,
		rgba(208, 222, 33, 1) 10%,
		rgba(79, 220, 74, 1) 15%,
		rgba(63, 218, 216, 1) 20%,
		rgba(47, 201, 226, 1) 25%,
		rgba(28, 127, 238, 1) 30%,
		rgba(95, 21, 242, 1) 35%,
		rgba(186, 12, 248, 1) 40%,
		rgba(251, 7, 217, 1) 45%,
		rgba(255, 0, 0, 1) 50%,
		rgba(255, 154, 0, 1) 55%,
		rgba(208, 222, 33, 1) 60%,
		rgba(79, 220, 74, 1) 65%,
		rgba(63, 218, 216, 1) 70%,
		rgba(47, 201, 226, 1) 75%,
		rgba(28, 127, 238, 1) 80%,
		rgba(95, 21, 242, 1) 85%,
		rgba(186, 12, 248, 1) 90%,
		rgba(251, 7, 217, 1) 95%,
		rgba(255, 0, 0, 1) 100%
	);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	background-clip: text;
	background-size: 1000% 1000%;
	animation: 30s linear infinite gradient;
}
