section#datum-list,
section#datum-list ul,
section#datum-list li {
	width: 100%;
}

section#datum-list {
	margin-top: var(--top-bar-height);
	margin-bottom: var(--bottom-bar-height);
	overflow: scroll;
	align-items: flex-start;
	height: 100%;
	overscroll-behavior: auto;
}

section#datum-list li {
	border-bottom: 1px solid var(--dark-grey)
}

section#datum-list ul {
	flex-direction: column;
}

.datum {
	justify-content: space-between;
	padding: 0 10px;
	width: 100%;
}

.tags {
	overflow: auto;
	flex-grow: 1;
	justify-content: flex-start;
}

.tags-scroll-container {
	justify-content: flex-start;
	overflow: auto;
	gap: 5px;
	flex-grow: 1;
	padding: 10px 0;
}

.open-datum-menu {
	/* border: 1px solid lightgrey; */
	height: 30px;
	aspect-ratio: 1 / 1;
	margin: 10px 0;
	margin-left: 10px;
}

.open-datum-menu i {
	color: grey;
	font-size: 20px;
}

.open-datum-menu:hover i {
	color: white;
}

section#datum-list ul:last-child {
	border-bottom: none;
}

.timestamp {
	font-size: 12px;
	color: var(--dark-grey);
	margin-left: 10px;
	align-self: stretch;
	/* box-shadow: -5px 0px 15px 20px var(--background); */
}

.timestamp-fade-spacer {
	flex: 0 0 10px;
	height: 10px; /* arbitrary */
}

.datum-menu, .settings-menu {
	display: none;
	position: absolute;
	right: 5px;
	top: 5px;
	width: auto;
	flex-direction: column;
	align-items: flex-start;
	border: 1px solid var(--dark-grey);
	border-radius: 5px;
	z-index: 3;
	padding: 0 10px;
	box-shadow: 0px 0px 10px 2px var(--background);
}

.datum-menu-item, .settings-menu-item {
	position: relative;
	padding: 10px 0;
	text-align: start;
	width: 100%;
	border-top: 1px solid var(--dark-grey);
	justify-content: flex-start;
}

.datum-menu :first-child, .settings-menu :first-child {
	border-top: none;
}

.tags-fade {
	width: 10px;
	height: 25px;
	box-shadow: -5px 0px 10px 10px var(--background);
}
