#datum-bar {
	overflow-x: scroll;
}

#datum-bar div.tags {
	gap: 5px;
}

button#add-datum {
	height: 30px;
	aspect-ratio: 1 / 1;
	margin-left: 10px; /* for long tags */
	cursor: default;
}

button#add-datum i {
	color: var(--dark-grey);
	font-size: 20px;
}

.active {
	color: grey !important;
}

#add-datum .active {
	cursor: pointer;
}

#add-datum:hover i.active {
	color: white !important;
}

#datum-bar .tag-container {
	gap: 10px;
}

button#add-tag {
	border: 1px solid grey;
	padding: 5px 10px;
	border-radius: 5px;
	color: grey;
	margin: 1px;
	white-space: nowrap;
}

button#add-tag:hover {
	border-color: white;
	border-width: 2px;
	color: white;
	margin: 0px;
}

button#add-tag .new-tag-plus-icon {
	margin-right: 5px;
	color: grey;
}

button#add-tag:hover .new-tag-plus-icon {
	color: white;
}

footer#datum-bar {
	position: fixed;
	padding: 0 10px;
	justify-content: space-between;
	bottom: 0;
	width: 100%;
	height: var(--bottom-bar-height);
	border-top: 1px solid var(--dark-grey);
	box-shadow: 0px 15px 15px 15px var(--background);
}

span.tag.no-value {
	padding-right: 0;
}

span.add-tag-value-btn {
	border: 2px dotted;
	border-left: none !important;
	padding-left: 9px;
	padding-right: 7px;
	/* background-color: var(--background); */
}

.new-tag-value-plus-icon {
	/* color: var(--dark-grey); */
}

#add-tag-input {
	display: none;
	border: 2px solid white;
	padding: 5px;
	border-radius: 5px;
	color: white;
	width: 94px;
}