@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');

:root {
	--background: hsl(0, 0%, 5%);
	--dark-grey: hsl(0, 0%, 20%);
	--top-bar-height: 50px;
	--bottom-bar-height: 50px;
}

* :not(head) {
	box-sizing: border-box;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	padding: 0;
	background-color: var(--background);
	color: white;
	font-family: 'Nunito', Helvetica, sans-serif;
	font-size: 14px;
}

html {
	height: 100%;
	overflow: hidden;
}

body {
	flex-direction: column;
	height: 100%;
	overflow: auto;
}

header {
	position: fixed;
	top: 0;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: var(--top-bar-height);
	padding: 0 10px;
	border-bottom: 1px solid var(--dark-grey);
	z-index: 1;
	box-shadow: 0px -15px 15px 15px var(--background);
}

button {
	background-color: unset;
	border: none;
	cursor: pointer;
}

.no-blue-on-select {
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.no-blue-on-select:focus {
	outline: none !important;
}

button.header-btn {
	padding: 5px;
	width: 30px;
	/* 20px font-size + 5px + 5px padding */
	aspect-ratio: 1 / 1;
}

.header-btn-icon {
	color: grey;
	font-size: 20px;
}

.header-btn-icon:hover {
	color: white;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

h1#title {
	font-size: 32px;
	user-select: none;
	background: linear-gradient(
		-45deg, 
		rgba(255, 0, 0, 1) 0%,
		rgba(255, 154, 0, 1) 5%,
		rgba(208, 222, 33, 1) 10%,
		rgba(79, 220, 74, 1) 15%,
		rgba(63, 218, 216, 1) 20%,
		rgba(47, 201, 226, 1) 25%,
		rgba(28, 127, 238, 1) 30%,
		rgba(95, 21, 242, 1) 35%,
		rgba(186, 12, 248, 1) 40%,
		rgba(251, 7, 217, 1) 45%,
		rgba(255, 0, 0, 1) 50%,
		rgba(255, 154, 0, 1) 55%,
		rgba(208, 222, 33, 1) 60%,
		rgba(79, 220, 74, 1) 65%,
		rgba(63, 218, 216, 1) 70%,
		rgba(47, 201, 226, 1) 75%,
		rgba(28, 127, 238, 1) 80%,
		rgba(95, 21, 242, 1) 85%,
		rgba(186, 12, 248, 1) 90%,
		rgba(251, 7, 217, 1) 95%,
		rgba(255, 0, 0, 1) 100%
	);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	background-size: 1000% 1000%;
	animation: 30s linear infinite gradient;
}

button#settings {
	/* center title in header, balance against width of sort
	and filter buttons (30px + 30px) */
	margin-left: 30px;
}

span.tag {
	border-radius: 5px;
	overflow: hidden;
	cursor: pointer;
	white-space: nowrap;
	flex: 0 0 auto;
}

span.tag-name {
	border: 2px solid var(--dark-grey);
	background-color: var(--dark-grey);
	padding: 3px 6px;
	color: var(--background);
	font-weight: 700;
	/* TODO */
	border-radius: 5px;
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
	/* border-right: none; */
}

span.tag-value {
	border: 2px solid var(--dark-grey);
	padding: 3px 6px;
	color: var(--dark-grey);
	border-radius: 5px;
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	border-left: none;
}

#click-away-screen {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1;
}